:root {
    --light-background:#F5F5F5;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "acumin pro", sans-serif;
    overflow:visible;
}

button {
    color:black;
}
ul {
    list-style:none;
}
a {
    text-decoration: none;
    color:black;
}
section {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
/*****************************/

header {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:var(--light-background);
    z-index:2;
    
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem 4rem;
    gap:1rem;
    
}

.second-bar {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.second-bar img {
    width:150px;
}
.second-bar ul {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:4rem;
}
.second-bar button {
    padding:0.5rem 1rem;
    background-color:lightblue;
    border:2px solid lightblue;
    font-weight:bold;
    cursor:pointer;
}
/*****************************/

header {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:var(--light-background);
    z-index:2;
    
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:1rem 4rem;
    gap:1rem;

    
}

.second-bar {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.second-bar img {
    width:150px;
}
.second-bar ul {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:4rem;
}
.second-bar button {
    padding:0.5rem 1rem;
    background-color:lightblue;
    border:2px solid lightblue;
    font-weight:bold;
    cursor:pointer;
}
/************************/
/***********************/
.dropdown {
    position:relative !important;
    display:none;
    z-index:10000 !important;

    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:white;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    height:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;

   
}
.dropdown-heading > a {
    font-weight:200 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:300 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:300 !important;
}
/***********************/
/***********************/
/************************/
/************************/
/************************/
.menu {
    width:50px !important;
    display:none;
}
@media (max-width:1050px) {
    .menu {
        display:block;
        cursor:pointer;
    }
    nav {
        display:none;
    }
    .dropdown {
        displaY:block;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:324px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}
/***************************/
/***************************/
main {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--light-background);
    position:relative;
    z-index:1;
}
.hero-wrapper {
    width:100%;
    max-width:1440px;
    padding: 7rem 4rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
/* .top {
    position:absolute;
    bottom:2%;
    left:0;
} */
.hero-wrapper h1 {
    font-size:5rem;
    font-weight:300;
    z-index:1;
}
.left {
    width:75%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.below-text button {
    align-self:flex-end;
    aspect-ratio:1/1;
    border-radius:100%;
    background-color:transparent;
    border-color:gray;
    border:1px solid gray;
    color:gray;
    font-size:1.25rem;
    margin-top:-6rem;
    margin-left:4rem;
    cursor:pointer;
    position:relative;
    transition:0.5s;
    /* width:max(30rem, 100%) */
    width:30rem;

}

.below-text button::after {
    content:"OUR WORK";
    color:black;
    display:grid;
    place-items:center !important;
    width:100%;
    height:100%;
    background-color:rgb(236, 236, 236);
    position:absolute;
    inset:0;
    border-radius:100%;
    transform:scale(0);
    transform-origin: center;
    transition:0.5s;
}
#worker {
    display:grid;
    place-items: center;
}
.below-text button:hover::after {
    transform:scale(1);
    transition:0.5s;
     /* z-index:-1;  */

} 

.below-text button:hover {
    color:white;
    transition:0.5s;
    z-index:1;

}
.below-text {
    display:flex;
    /* width:65rem; */
    align-items: center;
    justify-content: space-between;
    /* width:100%; */
}
.below-text img {
    margin-left:12rem;
    margin-top:-12rem;
    z-index:0;
}
.right {
    margin-top:-12rem;
}
main > img {
    position: absolute;
    z-index:-1;
    top:8%;
}
.below-text button:hover {
    animation: spin 500ms forwards;
}
.below-text button {
    position:relative !important;
}



@keyframes spin {
    to {
        transform: rotate(5760deg);
        color:white;
    }
}
/********** Animations **/
.right {
    overflow-y:hidden;
}

.right img {
    transform:translateY(102%);
    transform-origin: bottom;
    animation:grow-in 750ms forwards;
    animation-delay:500ms;
}
.left img {
    transform:translateY(102%);
    transform-origin: bottom;
    animation:grow-in 750ms forwards;
}
@keyframes grow-in {
    to {
        transform:translateY(0)
    }
}
/*******************/
.gone {
    display:none;
}
.left > a > button {
    display:none;
}
.left > p {
    display:none;
}
/************************/
@media (max-width:1289px) {
    .below-text button {
        align-self:flex-end;
        aspect-ratio:1/1;
        border-radius:100%;
        background-color:transparent;
        border-color:gray;
        border:1px solid gray;
        color:gray;
        font-size:1.25rem;
        margin-top:-2rem;
        margin-left:-2rem;
        cursor:pointer;
        position:relative;
        transition:0.5s;
        /* width:max(30rem, 100%) */
        width:30rem;
    
    }
    .below-text {
        width:100%;
        
    }
    .below-text img {
        margin-left:0;
        margin-top:-14rem;
    }
   
}
@media (max-width:1210px) {
    .right  {
        margin-top:-15rem;
    }
}
@media (max-width:1028px) {
    .here   {
       display:none;
    }
    .below-text button {
        display:none;
    }
    .gone {
        display:block;
        width:100%;
    }
    .below-text img {
        margin-top:0;
    }
    .right {
        display:none;
    }
    .left {
        width:100%;
        gap:2rem;
    }
    .left > a > button {
        padding:0.5rem 2rem;
        background-color:lightblue;
        border:2px solid lightblue;
        border-radius:0.5rem;
        font-weight:bold;
        display:block;
    }
    .left > p {
        display:block;
        font-weight:200;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height:1.75;
        width:90%;
    }
}





@media (max-width:795px) {
    h1 {
        font-size:3.75rem !important;
    }
    .left {
        gap:1rem;
    }
}



@media (max-width:700px) {
    .hero-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:570px) {
    h1 {
        font-size:3rem !important;
    }
    .left > p {
        font-size:0.9rem;
    }
    
}
@media (max-width:500px) {
    .hero-wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:322px) {
    .left > p {
        width:100%;
        font-size:0.8rem;
    }
    .left h1 {
        font-size:2.25rem !important;
    }
}





@keyframes spin {
    to {
        transform: rotate(5760deg);
        color:white;
    }
}
/********** Animations **/
.right {
    overflow-y:hidden;
}

.right img {
    transform:translateY(102%);
    transform-origin: bottom;
    animation:grow-in 750ms forwards;
    animation-delay:500ms;
}
.left img {
    transform:translateY(102%);
    transform-origin: bottom;
    animation:grow-in 750ms forwards;
}
@keyframes grow-in {
    to {
        transform:translateY(0)
    }
}
button {
    cursor:pointer;
}
.watermark {
    pointer-events:none;
}
/****************below-text
/*******************/
.welcome-section {
    overflow:hidden !important;
}
.welcome-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.welcome-right h2 {
    font-size:2.5rem;
    margin-top:16rem;
    font-weight:200;
}
.welcome-right p {
    font-weight:200;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height:1.75;
}
.welcome-right {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
   
}
.welcome-right button {
    align-self:flex-end;
    aspect-ratio:1/1;
    border-radius:100%;
    background-color:transparent;
    border-color:gray;
    border:1px solid gray;
    color:gray;
    font-size:1.25rem;
   
    margin-left:-4rem;
    cursor:pointer;
    position:relative;
    transition:0.5s;
    /* width:max(30rem, 100%) */
    width:20rem;

}

.welcome-right button::after {
    content:"BOOK NOW";
    color:black;
    display:grid;
    place-items:center;
    width:100%;
    height:100%;
    background-color:rgb(236, 236, 236);
    position:absolute;
    inset:0;
    border-radius:100%;
    transform:scale(0);
    transform-origin: center;
    transition:0.5s;
}
.welcome-right button:hover::after {
    transform:scale(1);
    transition:0.5s;
     /* z-index:-1;  */

} 
.absolute {
    pointer-events:none;
}

.welcome-right button:hover {
    color:white;
    transition:0.5s;
    z-index:1;

}
.absolute {
    position:absolute;
    z-index:-1;
}
/******************/
@media (max-width:1139px) {
    .welcome-wrapper {
        display:grid;
        grid-template-columns: 1fr;
       
    }
    .welcome-right,
    .welcome-wrapper img {
        width:100%;
    }
    .welcome-right h2 {
        margin-top:4rem;
    }
    .welcome-right button {
        margin-left:16rem;
        margin-top:-2rem;
    }
}
@media (max-width:700px) {
    .welcome-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:644px) {
    .welcome-right button {
        width:12rem;
    }
    .welcome-wrapper h2 {
        margin-top:1rem;
    }
}
@media (max-width:500px) {
    .welcome-wrapper {
        padding-inline:1rem;
    }
    .welcome-right button {
        margin-left:4rem;
    }
}
@media (max-width:324px) {
    .welcome-right h2 {
        font-size:2rem;
    }
    .welcome-right p {
        font-size:0.8rem;
    }
}
@media (max-width:288px) {
    .welcome-right button {
        width:8rem;
        margin-top:-1rem;
    }
}
/******************/
.big-text-section {
    position:relative;
}
.big-text-wrapper {
    width:100%;
    padding:6rem 4rem;
    max-width:1440px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.big-text-wrapper h2 {
    font-size:4.65rem;
    font-weight:200;
    line-height:1.5;
    font-weight:200;

}

.big-text-wrapper span  {
    color:white;
    position:relative;
}
.big-text-wrapper span img {
    width:170px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-60%, -60%)
}
.big-text-wrapper h2:nth-child(2) {
    align-self:flex-end;
    font-weight:200;

}
.second-image {
    width:250px !important;
    transform:translate(-40%, -55%) !important;

}

/**********************/
/**********************/

@media (max-width:942px) {
    .big-text-wrapper h2 {
        font-size:4rem;
    }
    .big-text-wrapper span img {
        width:120px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-60%, -60%)
    }
    .second-image {
        width:200px !important;
        transform:translate(-40%, -55%) !important;
    
    }
}
@media (max-width:700px) {
    .big-text-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:688px) {
    .big-text-wrapper h2 {
        font-size:3.5rem;
    }
    .big-text-wrapper span img {
        width:100px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-60%, -60%)
    }
    .second-image {
        width:175px !important;
        transform:translate(-40%, -55%) !important;
    
    }
}
@media (max-width:500px) {
    .big-text-wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:603px) {
    .big-text-wrapper h2 {
        font-size:3rem;
    }
    .big-text-wrapper span img {
        width:80px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-60%, -60%)
    }
    .second-image {
        width:150px !important;
        transform:translate(-40%, -55%) !important;
    
    }
}
@media (max-width:536px) {
    .big-text-wrapper h2 {
        font-size:2.5rem;
    }
    .big-text-wrapper span img {
        width:70px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-60%, -60%)
    }
    .second-image {
        width:120px !important;
        transform:translate(-40%, -55%) !important;
    
    }
}
@media (max-width:418px) {
    .big-text-wrapper h2 {
        font-size:2.25rem;
    }
    .big-text-wrapper span img {
        width:70px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-60%, -60%)
    }
    .second-image {
        width:120px !important;
        transform:translate(-40%, -55%) !important;
    
    }
}
@media (max-width:379px) {
    .big-text-wrapper h2 {
        font-size:2rem;
    }
    .big-text-wrapper span img {
        width:50px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-60%, -60%)
    }
    .second-image {
        width:100px !important;
        transform:translate(-40%, -55%) !important;
    
    }
}
@media (max-width:338px) {
    .big-text-wrapper h2 {
        font-size:2rem;
    }
    .big-text-wrapper span img {
        width:40px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-60%, -60%)
    }
    .second-image {
        width:80px !important;
        transform:translate(-40%, -55%) !important;
    
    }
}
@media (max-width:290px) {
    .big-text-wrapper h2 {
        font-size:1.75rem;
    }
    .big-text-wrapper span img {
        width:40px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-60%, -60%)
    }
    .second-image {
        width:80px !important;
        transform:translate(-40%, -55%) !important;
    
    }
}
/**********************/
/**********************/
/**********************/
.product-grid-section {
    position:relative !important;
    background-color:var(--light-background);

}
.product-grid-section .watermark {
    inset:0;
    top:20%;
    position:absolute;
    z-index:1;
}
.product-grid-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
    display:flex;
    align-items: flex-start;
    gap:2rem;
    position:relative;

}
.product-grid-wrapper img,
.product-grid-wrapper button,
.product-grid-wrapper h2 {
    position:relative;
    z-index:2;
}
.product-grid-wrapper img {
    width:100%;

}
.product-right {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:4rem;
}
.product-right,
.product-left {
    width:50%;
}
.product-right h2,
.product-left h2 {
    font-size:2.5rem;
}
.product-left h2 {
    margin-top:2rem;
}

.product-right button {
    aspect-ratio:1/1;
    border-radius:100%;
    background-color:transparent;
    border-color:gray;
    border:1px solid gray;
    color:gray;
    font-size:1.25rem;
    cursor:pointer;
    position:relative;
    transition:0.5s;
    width:20rem;
    margin-top:-6rem;

}

.product-right button::after {
    content:"BOOK NOW";
    color:black;
    display:grid;
    place-items:center;
    width:100%;
    height:100%;
    background-color:rgb(236, 236, 236);
    position:absolute;
    inset:0;
    border-radius:100%;
    transform:scale(0);
    transform-origin: center;
    transition:0.5s;
}
.product-right button:hover::after {
    transform:scale(1);
    transition:0.5s;
     /* z-index:-1;  */

} 
.absolute {
    pointer-events:none;
}


.welcome-right button:hover {
    color:white;
    transition:0.5s;
    z-index:1;

}
/**********************/
@media (max-width:986px) {
    .product-grid-wrapper {
        flex-direction: column;
        gap:4rem;

    }
    .product-left {
        width:100%;
        gap:4rem;
        display:flex;
        flex-direction: column;
    }
    .product-right {
        width:100%;
        gap:4rem;
    }
    .product-left h2 {
        width:75%;
        line-height:1.5;
    }
}
@media (max-width:700px) {
    .product-grid-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .product-grid-wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:386px) {
    .product-grid-wrapper button {
        width:10rem;
        margin-top:-5rem;
    }
    .product-grid-wrapper h2 {
        font-size:2rem;
        width:100%;
    }
    .product-left {
        width:100%;
        gap:2rem;
        display:flex;
        flex-direction: column;
    }
    .product-right {
        width:100%;
        gap:4rem;
    }
}
/**********************/
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
}
.footer-top {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
    width:100%;
}
.footer-top ul {
    display:flex;
    align-items: center;
    gap:8rem;
}
.footer-bottom {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size:0.8rem;
    font-weight:200;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/***************/
@media (max-width:700px) {
    .footer-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:644px) {
    .footer-top,
    .footer-bottom {
        flex-direction: column;
        gap:2rem;
       
    }
    .footer-top ul {
        flex-direction: column;
        gap:4rem;
    }
}
@media (max-width:500px) {
    .footer-wrapper {
        padding-inline:1rem;
    }
}
.header-wrapper button {
    border-radius:0.25rem;

}

.left > a > button:hover,
.header-wrapper button:hover {
    background-color:rgba(173, 216, 230, 0.615);
    border:2px solid rgba(173, 216, 230, 0.615);
}